
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simple Instant Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="container-narrow">
      <div class="masthead">
        <h3 class="muted">Simple Instant Search</h3>
      </div>
      <hr>

      <div class="jumbotron">
        <div class="welcome">
          <h1>Super simple instant search!</h1>
          <p class="lead">Search is another fun ;)</p>
        </div>

        <form id="search" class="form-search">
          <div class="input-append">
            <input id="search-box" type="text" class="span4 search-query">
            <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
          </div>
        </form>
        <p id="waiting" style="display:none"><img src="/static/img/ajax-loader.gif" alt="正在加载"></p>
      </div>

      <div id="results"></div>

      <hr>
      <div class="footer">
        <p>Live on <a href="https://github.com/terro/instant-search">Github</a>・Built by <a href="https://github.com/terro/">terro</a> and <a href="https://github.com/Heliumchen">helium</a></p>
      </div>
    </div> <!-- /container -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/instant.js"></script>
    <script src="/static/js/handlebars.js"></script>
    <script type="text/x-handlebars-template" id="template-search-results">
      <div class="row-fluid">
        <div class="span12">
          <p><i class="icon-inbox"></i> About {{count}} results <i class="icon-time"></i> consumed 0.22 seconds </p>
        </div>
      </div>
      {{#each result}}
      <div class="row-fluid">
        <div class="span12 item">
          <h4><a href="{{this.url}}">{{{this.title}}}</a></h4>
          <p class="url">{{this.url}}</p>
          <p>{{{this.text}}}</p>
        </div>
      </div>
      {{/each}}
    </script>
  </body>
</html>
